.form {
  display: grid;
  gap: 20px;
  max-width: 395px;

  &__group {}

  &__label {
    display: grid;
    gap: 10px;

    span {
      font-weight: 700;
    }
  }

  &__input {
    border: none;
    outline: none;
    height: 54px;
    padding: 5px 20px;
    border-radius: 5px;

    &::placeholder {
      color: #BEBEBE;
    }
  }

  &__btn {
    margin-top: 10px;
  }
}
