.header {
  background-color: var(--dark);
  padding: 17px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
    flex: 0 0 120px;
    height: 60px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    & li {
      max-width: 200px;

      &:not(:last-child) {
        @include adaptiv-value(margin-right, 40, 15, 1);

        @media screen and (max-width: 767px) {
          margin-right: unset;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__link {
    color: var(--light-color);
    position: relative;
    padding: 5px 0;

    @media screen and (max-width: 767px) {
      font-size: 20px;

    }

    &::after {
      content: "";
      position: absolute;
      width: 0px;
      height: 1px;
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      transition: .5s all ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.menu {
  transition: .5s opacity ease;

  @media screen and (max-width: 767px) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
  }

  &.menu--active {
    visibility: visible;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
  }
}
