<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <div class="footer__text">
          Якщо ви бажаєте підняти свій сервіс на наступний рівень, то вам достатньо зареєструватись на нашому сайті. Оформити підписку для доступу до сервісу просто, i ще простіше з нашим сервісом заробляти більше!
        </div>
        <form class="form footer__form">
          <div class="form__group">
            <label class="form__label">
              <span>Ваше ім'я</span>
              <input type="text" class="form__input" placeholder="Ім’я">
            </label>
          </div>
          <div class="form__group">
            <label class="form__label">
              <span>Ваш телефон*</span>
              <input type="tel" class="form__input" placeholder="+380 (--) --- -- --">
            </label>
          </div>
          <div class="form__group">
            <label class="form__label">
              <span>Електрона адреса</span>
              <input type="email" class="form__input" placeholder="Email">
            </label>
          </div>
          <div class="form__group">
            <button class="btn btn-primary form__btn" type="submit">Перейти до сервісу</button>
          </div>
        </form>
      </div>
      <nav class="footer__nav">
        <ul>
          <li><a href="#">Особливості сервісу</a></li>
          <li><a href="#">Актуальне</a></li>
          <li><a href="#">Ціна підписки</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
