.goal {
  &__img {
    padding-bottom: 26%;
    @include col();
    @include size(6);
    @include size-sm(12);

    @media screen and (max-width: 780px) {
      margin-bottom: 25px;
    }
  }

  &__info {
    @include col();
    @include size(6);
    @include size-sm(12);

    & p {
      font-size: 16px;
      line-height: 1.4;
      color: var(--text);
    }
  }

  &__inner {
    @include row-flex();
    align-items: center;
  }

}
