:root {
  --primary: #8FB39C;
  --dark: #303030;
  --text: #757575;
  --title: #353836;
  --text-secondary: #F5F5F5;
  --light-color: #fff;
  --small: 767px;
  --large: 991px;
  --extra-large: 1199px;
  --extra-small: 567px;
}
